<div class="about-wrapper">
	<div class="jumbotron">
		<h2>Practice your english comprehension skills <strong>for free!</strong></h2>
		<p><a href="/about">Checkout how this works</a></p>
	</div>
</div>