<div class="row">
<div class="col-lg-6">
	<%= render "praxeng/about_land.html.erb" %>
</div>
<div class="col-lg-6">
	<div class="example-wrapper">
		<h3> Try out this example</h3>
		<%= render "praxeng/question_mdp.html.erb" %>
	</div>
</div>
</div>
<hr>
<div class="row">
	<%= render "praxeng/how.html.erb" %>
</div>