<div class="row">
<div class="col-lg-5">
	<div class="feedback-wrapper">
		<%= render "praxeng/feedback.html.erb" %>
	</div>
</div>
<div class="col-lg-7">
	<div class="example-wrapper">
		<%= render "praxeng/share_score.html.erb" %>
	</div>
</div>
</div>
<hr>
<div class="row">
	<%= render "praxeng/how.html.erb" %>
</div>